openapi: 3.0.1
info:
  title: Web Study REST API
  description: This API allow web application users to interact with the LIFEDATA study service.
  termsOfService: https://www.lifedatacorp.com/lifedata-terms-of-use/
  contact:
    name: Lifedata Corp
    url: https://www.lifedatacorp.com/
    email: info@lifedatacorp.com
  license:
    name: Lifedata license
    url: https://www.lifedatacorp.com/license
  version: '1.0'
servers:
  - url: https://api.lifedatacorp.com/web
paths:
  /common/staticData:
    get:
      tags:
        - Common
      summary: Get All Static Data
      description: This will return all static data
      operationId: get-common-staticdata
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  StaticDataVO:
                    type: object
                    properties:
                      ApplicationCurrentVersion:
                        type: string
                        example: 1.0.0
                  TypeVOs:
                    type: array
                    items:
                      type: object
                      properties:
                        TypeTableID:
                          type: integer
                          example: 1
                        TypeFor:
                          type: string
                          example: LifeDataUser
                        Name:
                          type: string
                          example: UserType
                        DefaultValue:
                          type: integer
                          example: 1
                        TooltipText:
                          type: string
                          example: Subscription User
                        Description:
                          type: string
                          example: Subscription User
                  TypeLookUpVOs:
                    type: array
                    items:
                      type: object
                      properties:
                        TypeLookUpID:
                          type: integer
                          example: 1
                        TypeTableID:
                          type: integer
                          example: 'true'
                        Value:
                          type: integer
                          example: 'true'
                        Name:
                          type: string
                          example: '1'
                        Description:
                          type: string
                          example: Test Block
                  TooltipVOs:
                    type: array
                    items:
                      type: object
                      properties:
                        TooltipID:
                          type: integer
                          example: 1
                        Label:
                          type: string
                          example: Name
                        TooltipText:
                          type: string
                          example: Study Name
                        ReferencePage:
                          type: string
                          example: Study Configuration
                  RoleActionMappingVOs:
                    type: array
                    items:
                      type: object
                      properties:
                        RoleID:
                          type: integer
                          description: Organization Admin
                          example: 6
                        ObjectID:
                          enum:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                          type: integer
                          description: "&nbsp;&nbsp;1 = SUBSCRIPTION<br>\n&nbsp;&nbsp;2 = ORGANIZATION<br>\n&nbsp;&nbsp;3 = STUDY<br>\n&nbsp;&nbsp;4 = DASHBOARD<br>\n&nbsp;&nbsp;5 = UserGroup\n"
                          example: 2
                        ActionID:
                          type: integer
                          description: ID of the action
                          example: 42
                        RoleName:
                          type: string
                          description: name of the role
                          example: Organization Admin
                        Description:
                          type: string
                          description: detail about the role
                          example: organization admin
                        RoleType:
                          enum:
                            - 1
                            - 2
                            - 3
                          type: integer
                          description: "&nbsp;&nbsp;1 = Subscription Assigned<br>\n&nbsp;&nbsp;2 = Application Assigned<br>\n&nbsp;&nbsp;3 = User Assigned\n"
                          example: 2
                        ActionTitle:
                          type: string
                          description: Title of the action
                          example: Download among Sub Organization
                        ActionDetail:
                          type: string
                          description: Title of the action
                          example: Download among Sub Organization
              example:
                StaticDataVO:
                  ApplicationCurrentVersion: 1.0.0
                TypeVOs:
                  - TypeTableID: 1
                    TypeFor: LifeDataUser
                    Name: UserType
                    DefaultValue: 1
                    TooltipText: Subscription User
                    Description: Subscription User
                TypeLookUpVOs:
                  - TypeLookUpID: 1
                    TypeTableID: 'true'
                    Value: 'true'
                    Name: '1'
                    Description: Test Block
                TooltipVOs:
                  - TooltipID: 1
                    Label: Name
                    TooltipText: Study Name
                    ReferencePage: Study Configuration
                RoleActionMappingVOs:
                  - RoleID: 6
                    ObjectID: 2
                    ActionID: 42
                    RoleName: Organization Admin
                    Description: organization admin
                    RoleType: 2
                    ActionTitle: Download among Sub Organization
                    ActionDetail: Download among Sub Organization
  /common/roleObjectAction:
    get:
      tags:
        - Common
      summary: Get Role object action mapping data
      description: This will return all static data
      operationId: get-common-roleobjectaction
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  RoleData:
                    $ref: '#/components/schemas/RoleData'
                  RoleEligibility:
                    type: array
                    items:
                      type: object
                      properties:
                        RoleAssignFor:
                          type: integer
                          example: 1
                        RoleAssignEligibleTo:
                          type: integer
                          example: 2
                  ObjectData:
                    type: array
                    items:
                      type: object
                      properties:
                        ObjectID:
                          type: integer
                          example: 2
                        ObjectTableName:
                          type: string
                          example: Study
                        ObjectDetail:
                          type: string
                          example: Study component
                  ActionData:
                    type: array
                    items:
                      type: object
                      properties:
                        ActionID:
                          type: integer
                          example: 1
                        ActionTitle:
                          type: string
                          example: Study add
                        ActionDetail:
                          type: string
                          example: Study add
                  RoleObjectActionMapping:
                    type: array
                    items:
                      type: object
                      properties:
                        RoleID:
                          type: integer
                          example: 1
                        ObjectID:
                          type: integer
                          example: 1
                        ActionID:
                          type: integer
                          example: 1
              example:
                RoleData:
                  - RoleID: 1
                    RoleName: Researcher
                    Description: Researcher can create study
                    RoleType: 1
                RoleEligibility:
                  - RoleAssignFor: 1
                    RoleAssignEligibleTo: 2
                ObjectData:
                  - ObjectID: 2
                    ObjectTableName: Study
                    ObjectDetail: Study component
                ActionData:
                  - ActionID: 1
                    ActionTitle: Study add
                    ActionDetail: Study add
                RoleObjectActionMapping:
                  - RoleID: 1
                    ObjectID: 1
                    ActionID: 1
  /studies:
    get:
      tags:
        - Study
      summary: Get All Studies
      description: This will return all the studies
      operationId: get-studies-limit-limit-page-page
      parameters:
        - name: Limit
          in: query
          required: true
          schema:
            type: integer
        - name: Page
          in: query
          required: true
          schema:
            type: integer
        - name: SearchText
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResult'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/StudyListItem'
              example:
                Total: 40
                Page: 1
                PerPage: 10
                HasNext: true
                HasPrev: false
                results:
                  - StudyID: 1
                    NextVersion: 1
                    FilePath: ''
                    LanguageID: 1
                    StudyTitle: Test Study
                    IsRTL: true
                    OwnerBy: amalesh.debnath@gmail.com
                    CreatedBy: amalesh.debnath@gmail.com
                    PublishedBy: amalesh.debnath@gmail.com
                    CreatedDT: '2024-05-06T10:11:12.0000000+00:00'
                    CompletionDT: '2024-05-06T10:11:12.0000000+00:00'
                    PublishDT: '2024-05-06T10:11:12.0000000+00:00'
                    LastAccessDT: '2024-05-06T10:11:12.0000000+00:00'
                    ActionIDs: '1,3,4,6'
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
    post:
      tags:
        - Study
      summary: Add a Study
      description: This will add a new study
      operationId: post-studies
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: JSON Object containing the Study information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Study'
            example:
              StudyTitle: Name of the study
              LanguageID: 1
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Study
      summary: Delete Study in bulk
      description: This will delete study in bulk
      operationId: delete-studies-studyids-studyids
      parameters:
        - name: StudyIDs
          in: query
          required: true
          schema:
            type: string
            description: coma separated study ids
            example: '12,23,45'
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  /studies/cards:
    get:
      tags:
        - Study
      summary: Get All Studies for landing page
      description: This will return all the studies for landing page
      operationId: get-studies-cards
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    StudyID:
                      type: integer
                      example: 1
                    IsPinned:
                      type: boolean
                      description: '0 = No, 1 = Yes'
                      example: true
                    NextVersion:
                      type: integer
                      example: 1
                    FilePath:
                      type: string
                      example: logo.png
                    LanguageID:
                      type: integer
                      example: 1
                    StudyTitle:
                      type: string
                      example: Test Study
                    Status:
                      enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                      type: integer
                      description: '1 = In Progress, 2 = Published, 3 = Unpublished, 4 = Expire, 5 = Complete'
                      example: 1
                    IsRTL:
                      type: boolean
                      description: '0 = No, 1 = Yes'
                      example: true
                    OwnerBy:
                      type: string
                      example: amalesh.debnath@gmail.com
                    CreatedBy:
                      type: string
                      example: amalesh.debnath@gmail.com
                    PublishedBy:
                      type: string
                      example: amalesh.debnath@gmail.com
                    CreatedDT:
                      type: string
                      example: '2024-05-06T10:11:12Z'
                    CompletionDT:
                      type: string
                      example: '2024-05-06T10:11:12Z'
                    PublishDT:
                      type: string
                      example: '2024-05-06T10:11:12Z'
                    LastAccessDT:
                      type: string
                      example: '2024-05-06T10:11:12Z'
                    ActionIDs:
                      type: string
                      description: coma separated Action ID
                      example: '1,3,4,6'
              example:
                - StudyID: 1
                  IsPinned: true
                  NextVersion: 1
                  FilePath: logo.png
                  LanguageID: 1
                  StudyTitle: Test Study
                  Status: 1
                  IsRTL: true
                  OwnerBy: amalesh.debnath@gmail.com
                  CreatedBy: amalesh.debnath@gmail.com
                  PublishedBy: amalesh.debnath@gmail.com
                  CreatedDT: '2024-05-06T10:11:12.0000000+00:00'
                  CompletionDT: '2024-05-06T10:11:12.0000000+00:00'
                  PublishDT: '2024-05-06T10:11:12.0000000+00:00'
                  LastAccessDT: '2024-05-06T10:11:12.0000000+00:00'
                  ActionIDs: '1,3,4,6'
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}':
    get:
      tags:
        - Study
      summary: Get study by ID
      description: Returns the details of the study identified by the provided id
      operationId: get-studies-studyid-studyversion-studyversion
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyBasicDetail'
              example:
                LanguageID: 1
                StudyTitle: Test Study
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '404':
          description: Item Not Found
        '500':
          description: Internal Server Error
    put:
      tags:
        - Study
      summary: Update the Study with StudyID
      description: This will update the study identified by the provided StudyID
      operationId: put-studies-studyid-studyversion-studyversion
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: JSON Object containing the Study information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Study'
            example:
              StudyTitle: Name of the study
              LanguageID: 1
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Study
      summary: Delete the Study with StudyID
      description: This will delete the study identified by the provided StudyID
      operationId: delete-studies-studyid
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/meta-data':
    get:
      tags:
        - Study
      summary: Get study meta data by ID
      description: Returns the meta data of the study
      operationId: get-studies-studyid-meta-data
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  UniqueParticipantCount:
                    type: integer
                    description: The number of unique participant who downloaded the study
                    example: 123
                  ActiveParticipantCount:
                    type: integer
                    description: The number of unique participant who actively participating for this study
                    example: 60
                  TotalDownload:
                    type: integer
                    description: The number of total download of this study
                    example: 150
                  LastAccessDT:
                    type: string
                    description: The time when this study last accessed
                    example: '2024-10-11T12:13:14Z'
                  LastAccessedBy:
                    type: integer
                    description: User Group ID of the user who access the study most recently
                    example: 123
                  LastAccessedEmail:
                    type: string
                    description: Email ID of the user who access the study most recently
                    example: researcher1@lifedatacorp.com
                  LastAccessedUserName:
                    type: string
                    example: Tim David
                  LastEditDT:
                    type: string
                    description: The time when this study last edited
                    example: '2024-10-11T12:13:14Z'
                  LastEditedBy:
                    type: integer
                    description: User Group ID of the user who edit the study most recently
                    example: 123
                  LastEditedEmail:
                    type: string
                    description: Email ID of the user who edit the study most recently
                    example: researcher1@lifedatacorp.com
                  LastEditedUserName:
                    type: string
                    example: Tim David
                  PublishDT:
                    type: string
                    description: The time when this study last published
                    example: '2024-10-11T12:13:14Z'
                  PublishedBy:
                    type: integer
                    description: User Group ID of the user who publish the study most recently
                    example: 123
                  PublisherEmail:
                    type: string
                    description: Email ID of the user who published the study most recently
                    example: researcher1@lifedatacorp.com
                  PublisherUserName:
                    type: string
                    example: Tim David
                  CreateDT:
                    type: string
                    description: The time when this study last created
                    example: '2024-10-11T12:13:14Z'
                  CreatedBy:
                    type: integer
                    description: User Group ID of the user who create the study most recently
                    example: 123
                  CreatorEmail:
                    type: string
                    description: Email ID of the user who create the study most recently
                    example: researcher1@lifedatacorp.com
                  CreatorUserName:
                    type: string
                    example: Tim David
                  OwnedBy:
                    type: integer
                    description: User Group ID of the user who own the study most recently
                    example: 123
                  OwnerEmail:
                    type: string
                    description: Email ID of the user who own the study most recently
                    example: researcher1@lifedatacorp.com
                  OwnerUserName:
                    type: string
                    example: Tim David
                  LastParticipateDT:
                    type: string
                    description: The time when this study last participated
                    example: '2024-10-11T12:13:14Z'
                  ParticipantStartedDT:
                    type: string
                    description: The time when the participation was started
                    example: '2024-10-11T12:13:14Z'
              example:
                UniqueParticipantCount: 123
                ActiveParticipantCount: 60
                TotalDownload: 150
                LastAccessDT: '2024-10-11T12:13:14.0000000+00:00'
                LastAccessedBy: 123
                LastAccessedEmail: researcher1@lifedatacorp.com
                LastAccessedUserName: Tim David
                LastEditDT: '2024-10-11T12:13:14.0000000+00:00'
                LastEditedBy: 123
                LastEditedEmail: researcher1@lifedatacorp.com
                LastEditedUserName: Tim David
                PublishDT: '2024-10-11T12:13:14.0000000+00:00'
                PublishedBy: 123
                PublisherEmail: researcher1@lifedatacorp.com
                PublisherUserName: Tim David
                CreateDT: '2024-10-11T12:13:14.0000000+00:00'
                CreatedBy: 123
                CreatorEmail: researcher1@lifedatacorp.com
                CreatorUserName: Tim David
                OwnedBy: 123
                OwnerEmail: researcher1@lifedatacorp.com
                OwnerUserName: Tim David
                LastParticipateDT: '2024-10-11T12:13:14.0000000+00:00'
                ParticipantStartedDT: '2024-10-11T12:13:14.0000000+00:00'
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '404':
          description: Item Not Found
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/duplicate':
    put:
      tags:
        - Study
      summary: Duplicate a Study
      description: This will duplicate a study
      operationId: put-studies-studyid-duplicate
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: JSON Object containing the Study Title
        content:
          application/json:
            schema:
              type: object
              properties:
                StudyTitle:
                  type: string
                  example: Test Study
            example:
              StudyTitle: Test Study
      responses:
        '200':
          description: Created
        '204':
          description: No Content
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/pin':
    put:
      tags:
        - Study
      summary: Pin a study in landing page
      description: This will pin a study in landing page
      operationId: put-studies-studyid-pin
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  Updated:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '1'
              example:
                Updated: '1'
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/unpin':
    put:
      tags:
        - Study
      summary: Unpin a study in landing page
      description: This will unpin a study in landing page
      operationId: put-studies-studyid-unpin
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  Updated:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '1'
              example:
                Updated: '1'
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/permissions':
    get:
      tags:
        - Study
      summary: Get access permissions of a study
      description: Returns the details of all access permissions of a study
      operationId: get-studies-studyid-permissions
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    UserID:
                      type: integer
                      example: 1
                    UserName:
                      type: string
                      example: Tim David
                    EmailID:
                      type: string
                      example: asd@lifedatacorp.com
                    RoleID:
                      type: integer
                      example: 1
                    ProfilePictureFilePath:
                      type: string
                      description: File path to the customer's profile picture
                      example: user-profile/123.png
              example:
                - UserID: 1
                  UserName: Tim David
                  EmailID: asd@lifedatacorp.com
                  RoleID: 1
                  ProfilePictureFilePath: user-profile/123.png
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '404':
          description: Item Not Found
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/add-permissions':
    put:
      tags:
        - Study
      summary: Update access permissions of a study
      description: Update access permissions of a study
      operationId: put-studies-studyid-add-permissions
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: JSON Object containing the Block information
        content:
          application/json:
            schema:
              type: object
              properties:
                TeamMemberID:
                  type: integer
                  example: 3
                RoleIDs:
                  type: string
                  example: '12,15'
            example:
              TeamMemberID: 3
              RoleIDs: '2026-12-15'
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    Updated:
                      type: boolean
                      example: '1'
              example:
                - Updated: '1'
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '404':
          description: Item Not Found
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/additional-detail':
    get:
      tags:
        - Study
      summary: Get additional Info about a study
      description: Returns the branding and welcome screen info of the study with the provided Study ID
      operationId: get-studies-studyid-additional-detail-studyversion-studyversion
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyAdditionalInfo'
              example:
                BrandingVO:
                  StudyWelcomeHeading: Welcome to Test Study
                  StudyIntroMessage: Test Study Intro Message
                  FilePath: 1-1/logo/1.png
                ContactVO:
                  FullName: Amalesh Debnath
                  ContactTitle: LifeData Admin
                  Phone: +880-1612625374
                  ContactEmail: amalesh.debnath@lifedatacorp.com
                  Address: 'Dhaka, Bangladesh'
                  ContactInstructions: Test Study Contact Instruction
                InstructionVO:
                  StudyInstructions: Test Study Instruction
                ResponseVO:
                  DefineCompletedSessionFlag: true
                  ConsiderSkipsFlagNIS: true
                  PercentageOfQuestionsNeedToBeRespondedNIS: 50
                  ShowOverallNotificationResponseRateFlag: true
                  ShowIndividualNotificationResponseRateFlag: true
                  ConsiderSkipsFlagCheckIn: true
                  PercentageOfQuestionsNeedToBeRespondedCheckIn: 50
                  ShowIndividualCheckInResponseRateFlag: true
                  ShowOverallCheckInResponseRateFlag: true
                StudyVO:
                  StudyTitle: Test Study published by LifeData
                  NextVersion: 1
                  FilePath: 1-1/logo/1.png
                  IsGDPRCompliant: true
                  GatherGeolocationFlag: true
                  IdleTimeoutPeriod: 0
                  YokeEnabledFlag: true
                  DefineCompletedSessionFlag: '0'
                  Status: 1
                  StartDayOfWeek: 1
                  ParticipantEnrollmentType: 1
                  ParticipantIdentifierID: 5
                  DeepLink: https://kbmql.test-app.link/iohy4o4nILb
                  QRFilePath: qr_code_1_190_1_5.png
                AuthenticationVO:
                  PublishModeFlag: true
                  ParticipantFlag: true
                  LevelOfAuthentication: 1
                  BiometricFlag: true
                  SingleStudyFlag: true
                  AccessMode: 50
                  SecretCode: Pa$$C0dE
                  DownloadLimit: 5
                  AvailabilityStartDT: '2024-04-07T00:00:01.0000000+00:00'
                  AvailabilityEndDT: '2024-06-30T23:59:59.0000000+00:00'
                  IdleTimeoutPeriod: 50
                  DownloadableByLinkFlag: '0'
                  RequireAccessCodeFlag: '0'
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '404':
          description: Item Not Found
        '500':
          description: Internal Server Error
    put:
      tags:
        - Study
      summary: Update the Study with StudyID
      description: This will update the study identified by the provided StudyID
      operationId: put-studies-studyid-additional-detail-studyversion-studyversion
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: JSON Object containing the updated Study Additional Detail information
        content:
          application/json:
            schema:
              type: object
              properties:
                BrandingVO:
                  type: object
                  properties:
                    StudyWelcomeHeading:
                      type: string
                      description: This will contain the Study Welcome Heading
                      example: Welcome to Test Study
                    StudyIntroMessage:
                      type: string
                      description: This will contain the Study Into Message
                      example: Test Study Intro Message
                    FilePath:
                      type: string
                      description: This will contain the file path of the study logo
                      example: 1-1/logo/1.png
                ContactVO:
                  type: object
                  properties:
                    FullName:
                      type: string
                      description: Maximum length 127
                      example: Amalesh Debnath
                    ContactTitle:
                      type: string
                      description: Maximum length 127
                      example: LifeData Admin
                    Phone:
                      type: string
                      description: Maximum length 30
                      example: +880-1612625374
                    ContactEmail:
                      type: string
                      description: Maximum length 320
                      example: amalesh.debnath@lifedatacorp.com
                    Address:
                      type: string
                      description: Maximum length 511
                      example: 'Dhaka, Bangladesh'
                    ContactInstructions:
                      type: string
                      description: This will contain the Study Contact Instruction
                      example: Test Study Contact Instruction
                InstructionVO:
                  type: object
                  properties:
                    StudyInstructions:
                      type: string
                      description: This will contain the Study Instruction
                      example: Test Study Instruction
                ResponseVO:
                  type: object
                  properties:
                    DefineCompletedSessionFlag:
                      type: boolean
                      example: true
                    ConsiderSkipsFlagNIS:
                      type: boolean
                      example: true
                    PercentageOfQuestionsNeedToBeRespondedNIS:
                      type: integer
                      example: 50
                    ShowOverallNotificationResponseRateFlag:
                      type: boolean
                      example: true
                    ShowIndividualNotificationResponseRateFlag:
                      type: boolean
                      example: true
                    ConsiderSkipsFlagCheckIn:
                      type: boolean
                      example: true
                    PercentageOfQuestionsNeedToBeRespondedCheckIn:
                      type: integer
                      example: 50
                    ShowIndividualCheckInResponseRateFlag:
                      type: boolean
                      example: true
                    ShowOverallCheckInResponseRateFlag:
                      type: boolean
                      example: true
                StudyVO:
                  type: object
                  properties:
                    StudyTitle:
                      type: string
                      example: Test Study published by LifeData
                    NextVersion:
                      type: integer
                      example: 1
                    FilePath:
                      type: string
                      description: This will contain the file path of the study logo
                      example: 1-1/logo/1.png
                    IsGDPRCompliant:
                      enum:
                        - true
                        - false
                      type: boolean
                      example: true
                    GatherGeolocationFlag:
                      enum:
                        - true
                        - false
                      type: boolean
                      example: true
                    IdleTimeoutPeriod:
                      maximum: 20.0
                      minimum: 0.0
                      type: integer
                      example: 0
                    YokeEnabledFlag:
                      enum:
                        - true
                        - false
                      type: boolean
                      example: true
                    DefineCompletedSessionFlag:
                      enum:
                        - '1'
                        - '0'
                      type: boolean
                      example: '0'
                    Status:
                      enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                      type: integer
                      description: '1 = In Progress, 2 = Published, 3 = Unpublished, 4 = Expire, 5 = Complete'
                      example: 1
                    StartDayOfWeek:
                      enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                      type: integer
                      description: "1 = Monday<br>\n2 = Tuesday<br>\n3 = Wednesday<br>\n4 = Thursday<br>\n5 = Friday<br>\n6 = Saturday<br>\n7 = Sunday\n"
                      example: 1
                    ParticipantEnrollmentType:
                      type: integer
                      description: "&nbsp;&nbsp;1 = Input Participants into a Study Participant List\n&nbsp;&nbsp;2 = Allow Participants to enroll through App and be automatically add to List\n"
                      example: 1
                    ParticipantIdentifierID:
                      type: integer
                      example: 5
                    DeepLink:
                      type: string
                      example: https://kbmql.test-app.link/iohy4o4nILb
                    QRFilePath:
                      type: string
                      example: qr_code_1_190_1_5.png
                AuthenticationVO:
                  type: object
                  properties:
                    PublishModeFlag:
                      type: boolean
                      example: true
                    ParticipantFlag:
                      type: boolean
                      example: true
                    LevelOfAuthentication:
                      enum:
                        - 1
                        - 2
                        - 3
                      type: integer
                      description: '1 = Always Logged In, 2 = PIN Required, 3 = Login Required'
                      example: 1
                    BiometricFlag:
                      type: boolean
                      example: true
                    SingleStudyFlag:
                      type: boolean
                      example: true
                    AccessMode:
                      type: integer
                      example: 50
                    SecretCode:
                      type: string
                      description: This will contain the secret code for semi-private study
                      example: Pa$$C0dE
                    DownloadLimit:
                      type: integer
                      example: 5
                    AvailabilityStartDT:
                      type: string
                      example: '2024-04-07T00:00:01Z'
                    AvailabilityEndDT:
                      type: string
                      example: '2024-06-30T23:59:59Z'
                    IdleTimeoutPeriod:
                      type: integer
                      example: 50
                    DownloadableByLinkFlag:
                      enum:
                        - '0'
                        - '1'
                      type: boolean
                      description: '1 = Yes, 0 = No'
                    RequireAccessCodeFlag:
                      enum:
                        - '0'
                        - '1'
                      type: boolean
                      description: '1 = Yes, 0 = No'
            example:
              BrandingVO:
                StudyWelcomeHeading: Welcome to Test Study
                StudyIntroMessage: Test Study Intro Message
                FilePath: 1-1/logo/1.png
              ContactVO:
                FullName: Amalesh Debnath
                ContactTitle: LifeData Admin
                Phone: +880-1612625374
                ContactEmail: amalesh.debnath@lifedatacorp.com
                Address: 'Dhaka, Bangladesh'
                ContactInstructions: Test Study Contact Instruction
              InstructionVO:
                StudyInstructions: Test Study Instruction
              ResponseVO:
                DefineCompletedSessionFlag: true
                ConsiderSkipsFlagNIS: true
                PercentageOfQuestionsNeedToBeRespondedNIS: 50
                ShowOverallNotificationResponseRateFlag: true
                ShowIndividualNotificationResponseRateFlag: true
                ConsiderSkipsFlagCheckIn: true
                PercentageOfQuestionsNeedToBeRespondedCheckIn: 50
                ShowIndividualCheckInResponseRateFlag: true
                ShowOverallCheckInResponseRateFlag: true
              StudyVO:
                StudyTitle: Test Study published by LifeData
                NextVersion: 1
                FilePath: 1-1/logo/1.png
                IsGDPRCompliant: true
                GatherGeolocationFlag: true
                IdleTimeoutPeriod: 0
                YokeEnabledFlag: true
                DefineCompletedSessionFlag: '0'
                Status: 1
                StartDayOfWeek: 1
                ParticipantEnrollmentType: 1
                ParticipantIdentifierID: 5
                DeepLink: https://kbmql.test-app.link/iohy4o4nILb
                QRFilePath: qr_code_1_190_1_5.png
              AuthenticationVO:
                PublishModeFlag: true
                ParticipantFlag: true
                LevelOfAuthentication: 1
                BiometricFlag: true
                SingleStudyFlag: true
                AccessMode: 50
                SecretCode: Pa$$C0dE
                DownloadLimit: 5
                AvailabilityStartDT: '2024-04-07T00:00:01.0000000+00:00'
                AvailabilityEndDT: '2024-06-30T23:59:59.0000000+00:00'
                IdleTimeoutPeriod: 50
                DownloadableByLinkFlag: '0'
                RequireAccessCodeFlag: '0'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/full-detail':
    get:
      tags:
        - Study
      summary: Get full information about a study
      description: This will contain full detail of a study
      operationId: get-studies-studyid-full-detail-studyversion-studyversion
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyFullDetail'
              example:
                StudyVO:
                  NextVersion: 1
                  FilePath: 1-1/logo/1.png
                  IsGDPRCompliant: true
                  GatherGeolocationFlag: true
                  IdleTimeoutPeriod: 0
                  YokeEnabledFlag: true
                  DefineCompletedSessionFlag: '0'
                  Status: 1
                  StartDayOfWeek: 1
                  ParticipantEnrollmentType: 1
                  ParticipantIdentifierID: 5
                  DeepLink: https://kbmql.test-app.link/iohy4o4nILb
                  QRFilePath: qr_code_1_190_1_5.png
                StudyLanguageAttributeVOs:
                  - LanguageID: 1
                    StudyTitle: Test Study published by LifeData
                    StudyWelcomeHeading: Welcome to Test Study
                    StudyIntroMessage: Test Study Intro Message
                    StudyInstructions: Test Study Instruction
                    ContactInstructions: Test Study Contact Instruction
                ContactVO:
                  FullName: Amalesh Debnath
                  ContactTitle: LifeData Admin
                  Phone: +880-1612625374
                  ContactEmail: amalesh.debnath@lifedatacorp.com
                  Address: 'Dhaka, Bangladesh'
                  ContactInstructions: Test Study Contact Instruction
                StudyResponseStatForNISVO:
                  ConsiderSkipsFlagNIS: true
                  PercentageOfQuestionsNeedToBeRespondedNIS: 50
                  ShowOverallNotificationResponseRateFlag: true
                  ShowIndividualNotificationResponseRateFlag: true
                StudyResponseStatForCheckInVO:
                  ConsiderSkipsFlagCheckIn: true
                  PercentageOfQuestionsNeedToBeRespondedCheckIn: 50
                  ShowIndividualCheckInResponseRateFlag: true
                  ShowOverallCheckInResponseRateFlag: true
                StudyAuthenticationSettingVO:
                  PublishModeFlag: true
                  ParticipantFlag: true
                  LevelOfAuthentication: 1
                  BiometricFlag: true
                  SingleStudyFlag: true
                  AccessMode: 50
                  SecretCode: Pa$$C0dE
                  DownloadLimit: 5
                  AvailabilityStartDT: '2024-04-07T00:00:01.0000000+00:00'
                  AvailabilityEndDT: '2024-06-30T23:59:59.0000000+00:00'
                  IdleTimeoutPeriod: 50
                  DownloadableByLinkFlag: '0'
                  RequireAccessCodeFlag: '0'
                SessionVOs:
                  - StudyID: 1
                    SessionID: 1
                    StudyVersion: 1
                    SessionType: 1
                    SessionOrder: 1
                    LanguageID: 1
                    SessionTitle: Test Check-in Session
                    SessionBriefInstruction: Test Instruction
                    SessionInstruction: Session Instruction
                BlockVOs:
                  - SessionID: 1
                    BlockID: 1
                    StudyVersion: 1
                    BlockOrder: 1
                    OrderFlag: '0'
                    NumberOfQuestionPerSession: 1
                    QuestionOrderFlag: 1
                    IsSinglePage: '0'
                    LanguageID: 1
                    BlockTitle: Test Check-in Session
                    CustomLogicFlag: '0'
                QuestionVOs:
                  - BlockID: 1
                    QuestionID: 1
                    QuestionType: 1
                    QuestionOrder: 1
                    StudyVersion: 1
                    RequireResponseFlag: '0'
                    BackDisabledFlag: '0'
                    RangeType: 1
                    RangeSliderViewAs: 1
                    MinValue: 3
                    MaxValue: 30
                    SliderInterval: 30
                    SliderStartPosition: 1
                    ShowNumericFeedback: '0'
                    ShowCaptionForRange: '0'
                    FreeTextLimitType: 1
                    FreeTextLimitMinValue: 1
                    FreeTextLimitMaxValue: 1
                    NumberEntryType: 1
                    NumberLimitType: 1
                    NumberLimitMinValue: 1
                    NumberLimitMaxValue: 1
                    NumberInputAllowDecimal: '0'
                    NumberInputMaxDecimalPlace: 3
                    NumberStepperAllowKeyboardInput: '0'
                    NumberStepperDefaultValue: 3
                    DisplayType: 1
                    AllowMultipleAnswer: '0'
                    TotalNumberOfResponse: 3
                    MinimumResponseRequired: 3
                    MaximumResponseAllowed: 3
                    EqualOptionSpacing: '0'
                    RandomizeResponseOption: 1
                    DateTimeRecordType: 1
                    DateTimeFormatDate: yyyy-mm-dd
                    DateTimeFormatTime: 1
                    DateTimeLimitFlag: '1'
                    DateMinValue: '2024-01-02T00:00:00.0000000+00:00'
                    DateMaxValue: '2024-01-02T00:00:00.0000000+00:00'
                    TimeMinValue: '1202'
                    TimeMaxValue: '2024-01-02T00:00:00.0000000+00:00'
                    AmountOfTimeRecordType: 1
                    ShowTimeText: '0'
                    HourMinValue: 5
                    HourMaxValue: 50
                    MinuteMinValue: 5
                    MinuteMaxValue: 50
                    RatingScaleViewAs: 1
                    ShowCaptionForScale: '0'
                    ImagePath: 123123/qwasd.png
                    ImageCaptionPositionFlag: '0'
                    PhotoSource: 1
                    MinPhotoResponse: 1
                    MaxPhotoResponse: 1
                    ConsentType: 1
                    RequireRespondentName: '0'
                    RequireAcknowledgement: '0'
                    LanguageID: 1
                    Label: TQ
                    QuestionText: <p>Test Question</p>
                    QuestionTextWithoutHTMLTags: Test Question
                    FreeTextPlaceHolderText: Write your answer here
                    IdentifierPlaceholderText: Add your email id
                    MultiResponseInstruction: You need to select minimum 3 options
                    MinValueCaption: Bad
                    MaxValueCaption: Good
                    ImageCaptionText: Is this an pen?
                    RespondentNamePlaceHolderText: Enter your name
                    AcknowledgementText: I Acknowledge
                    CustomLogicFlag: '0'
                OptionVOs:
                  - QuestionID: 1
                    OptionID: 1
                    StudyVersion: 1
                    OptionOrder: 1
                    Value: 1
                    LanguageID: 1
                    Caption: good
                PipedTextVOs:
                  - PipedTextID: 1
                    TextFor: 1
                    ObjectID: 1
                    TextFrom: 1
                    ObjectIDFrom: 1
                    LanguageID: 1
                    DefaultPipedText: Your Name
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '404':
          description: Item Not Found
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/overview-summary-data':
    get:
      tags:
        - Study Overview
      summary: Get Overview Summary Data
      description: This will return the overview summary data of a study
      operationId: get-studies-studyid-overview-summary-data-studyversion-studyversion
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  AllocatedParticipantCount:
                    type: integer
                    example: 100
                  TotalParticipant:
                    type: integer
                    example: 80
                  TotalCompleted:
                    type: integer
                    example: 20
                  TotalWithdrawn:
                    type: integer
                    example: 10
                  TotalDeleted:
                    type: integer
                    example: 5
              example:
                AllocatedParticipantCount: 100
                TotalParticipant: 80
                TotalCompleted: 20
                TotalWithdrawn: 10
                TotalDeleted: 5
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '404':
          description: Item Not Found
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/overview-widget-data':
    get:
      tags:
        - Study Overview
      summary: Get Overview Widget Data
      description: This will return the overview widget data of a study
      operationId: get-studies-studyid-overview-widget-data-studyversion-studyversion-reportdat
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: ReportDateFor
          in: query
          required: true
          schema:
            enum:
              - 1
              - 2
              - 3
            type: integer
            description: "&nbsp;&nbsp;1 = Fixed<br>\n&nbsp;&nbsp;2 = Custom<br>\n&nbsp;&nbsp;3 = Related to Study\n"
            example: 1
        - name: ReportDataFor
          in: query
          required: true
          schema:
            enum:
              - 1
              - 2
              - 3
            type: integer
            description: "&nbsp;&nbsp;1 = Number of Download by Day<br>\n&nbsp;&nbsp;2 = Average Notification Session Response Rate by Day<br>\n&nbsp;&nbsp;3 = Total Average Number of Check-In Sessions Completed by Day\n"
            example: 1
        - name: FixedDuration
          in: query
          schema:
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
            type: integer
            description: "&nbsp;&nbsp;1 = Study Life Time<br>\n&nbsp;&nbsp;2 = Last 24 Hours<br>\n&nbsp;&nbsp;3 = Last 7 Days<br>\n&nbsp;&nbsp;4 = Last 10 Days<br>\n&nbsp;&nbsp;5 = Last 15 Days<br>\n&nbsp;&nbsp;6 = Last 30 Days\n"
            example: 1
        - name: ReportDateFrom
          in: query
          schema:
            type: string
            example: '2024-06-04T00:00:00Z'
        - name: ReportDateTo
          in: query
          schema:
            type: string
            example: '2024-07-04T00:00:00Z'
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    group:
                      type: integer
                      example: '2024-06-08T00:00:00Z'
                    value:
                      type: number
                      example: 25.36
              example:
                - group: '2024-06-08T00:00:00.0000000+00:00'
                  value: 25.36
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '404':
          description: Item Not Found
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/overview-card-data':
    get:
      tags:
        - Study Overview
      summary: Get Overview Card Data
      description: This will return the overview card data of a study
      operationId: get-studies-studyid-overview-card-data-studyversion-studyversion-reportdatef
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: ReportDateFor
          in: query
          required: true
          schema:
            enum:
              - 1
              - 2
              - 3
            type: integer
            description: "&nbsp;&nbsp;1 = Fixed<br>\n&nbsp;&nbsp;2 = Custom<br>\n&nbsp;&nbsp;3 = Related to Study\n"
            example: 1
        - name: FixedDuration
          in: query
          schema:
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
            type: integer
            description: "&nbsp;&nbsp;1 = Study Life Time<br>\n&nbsp;&nbsp;2 = Last 24 Hours<br>\n&nbsp;&nbsp;3 = Last 7 Days<br>\n&nbsp;&nbsp;4 = Last 10 Days<br>\n&nbsp;&nbsp;5 = Last 15 Days<br>\n&nbsp;&nbsp;6 = Last 30 Days\n"
            example: 1
        - name: ReportDateFrom
          in: query
          schema:
            type: string
            example: '2024-06-04T00:00:00Z'
        - name: ReportDateTo
          in: query
          schema:
            type: string
            example: '2024-07-04T00:00:00Z'
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  NotificationResponseRate:
                    type: number
                    example: 70.35
                  AvgNISCompletionTime:
                    type: number
                    example: 776
                  TotalCheckIn:
                    type: integer
                    example: 123
                  AvgCheckInCompleted:
                    type: integer
                    example: '4.33'
                  AvgCheckInCompletionTime:
                    type: number
                    example: 1234
              example:
                NotificationResponseRate: 70.35
                AvgNISCompletionTime: 776
                TotalCheckIn: 123
                AvgCheckInCompleted: '4.33'
                AvgCheckInCompletionTime: 1234
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '404':
          description: Item Not Found
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/publish':
    put:
      tags:
        - Study
      summary: Publish the Study with StudyID
      description: This will publish the study identified by the provided StudyID
      operationId: put-studies-studyid-publish-studyversion-studyversion
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: JSON Object containing the Study Publish information
        content:
          application/json:
            schema:
              type: object
              properties:
                ParticipantEnrollmentType:
                  type: integer
                  description: "&nbsp;&nbsp;1 = Input Participants into a Study Participant List<br>\n&nbsp;&nbsp;2 = Allow Participants to enroll through App and be automatically add to List\n"
                  example: 1
                StudyDistributionMode:
                  enum:
                    - 1
                    - 2
                    - 3
                  type: integer
                  description: "&nbsp;&nbsp;1 = Searchable in mobile application<br>\n&nbsp;&nbsp;2 = Downloadable by link only<br>\n&nbsp;&nbsp;3 = Both\n"
                  example: 1
                RequireAccessCodeFlag:
                  enum:
                    - '0'
                    - '1'
                  type: boolean
                  description: '1 = Yes, 0 = No'
                  example: '0'
                SecretCode:
                  type: string
                  example: TestCode
                AvailabilityStartDT:
                  type: string
                  description: When the study will be available to download
                  example: '2024-06-27T10:11:12Z'
                AvailabilityEndDT:
                  type: string
                  description: After which time study will be unavailable to download
                  example: '2024-06-27T10:11:12Z'
                ReviewOnly:
                  enum:
                    - '0'
                    - '1'
                  type: boolean
                  example: '1'
                TimeOffSet:
                  type: string
                  description: Time offset format +/-HH:MM
                  example: +06:00
            example:
              ParticipantEnrollmentType: 1
              StudyDistributionMode: 1
              RequireAccessCodeFlag: '0'
              SecretCode: TestCode
              AvailabilityStartDT: '2024-06-27T10:11:12.0000000+00:00'
              AvailabilityEndDT: '2024-06-27T10:11:12.0000000+00:00'
              ReviewOnly: '1'
              TimeOffSet: +06:00
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  HasPermission:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '1'
                  CanPublish:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '1'
                  IsAvailable:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '1'
                  IsEmptyStudy:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '0'
                  HasSessionWithoutSchedule:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '0'
                  HasEmptyBlock:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '0'
                  HasEmptyQuestion:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '0'
                  HasStudyAuthenticationSetting:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '1'
                  ParticipantIdentifierID:
                    type: integer
                    description: "&nbsp;&nbsp;0 - If study cannot be published \n&nbsp;&nbsp;> 0 - If study can be published\n"
                    example: 1
              example:
                HasPermission: '1'
                CanPublish: '1'
                IsAvailable: '1'
                IsEmptyStudy: '0'
                HasSessionWithoutSchedule: '0'
                HasEmptyBlock: '0'
                HasEmptyQuestion: '0'
                HasStudyAuthenticationSetting: '1'
                ParticipantIdentifierID: 1
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/test-publish':
    put:
      tags:
        - Study
      summary: Publish the Study for testing
      description: This will publish the study for testing
      operationId: put-studies-studyid-test-publish-studyversion-studyversion
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: JSON Object containing the Study Publish for testing
        content:
          application/json:
            schema:
              type: object
              properties:
                ParticipantEnrollmentType:
                  type: integer
                  description: "&nbsp;&nbsp;1 = Input Participants into a Study Participant List\n&nbsp;&nbsp;2 = Allow Participants to enroll through App and be automatically add to List\n"
                  example: 1
                TimeOffSet:
                  type: string
                  description: Time offset format +/-HH:MM
                  example: +06:00
            example:
              ParticipantEnrollmentType: 1
              TimeOffSet: +06:00
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  HasPermission:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '1'
                  CanPublish:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '1'
                  IsAvailable:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '1'
                  IsEmptyStudy:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '0'
                  HasSessionWithoutSchedule:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '0'
                  HasEmptyBlock:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '0'
                  HasEmptyQuestion:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '0'
                  HasStudyAuthenticationSetting:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '1'
                  ParticipantIdentifierID:
                    type: integer
                    description: "&nbsp;&nbsp;0 - If study cannot be published \n&nbsp;&nbsp;> 0 - If study can be published\n"
                    example: 1
              example:
                HasPermission: '1'
                CanPublish: '1'
                IsAvailable: '1'
                IsEmptyStudy: '0'
                HasSessionWithoutSchedule: '0'
                HasEmptyBlock: '0'
                HasEmptyQuestion: '0'
                HasStudyAuthenticationSetting: '1'
                ParticipantIdentifierID: 1
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/update-publish':
    put:
      tags:
        - Study
      summary: Update study after publish
      description: This will update the study after publish
      operationId: put-studies-studyid-update-publish
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: JSON Object containing the Study information after publish
        content:
          application/json:
            schema:
              required:
                - RequireAccessCodeFlag
                - SecretCode
                - AvailabilityStartDT
                - AvailabilityEndDT
                - FullName
                - ContactTitle
                - Phone
                - ContactEmail
                - ContactAddress
                - ParticipantEnrollmentType
              type: object
              properties:
                RequireAccessCodeFlag:
                  enum:
                    - '0'
                    - '1'
                  type: boolean
                  description: '1 = Yes, 0 = No'
                  example: '0'
                SecretCode:
                  type: string
                  example: TestCode
                AvailabilityStartDT:
                  type: string
                  description: When the study will be available to download
                  example: '2024-06-27T10:11:12Z'
                AvailabilityEndDT:
                  type: string
                  description: After which time study will be unavailable to download
                  example: '2024-06-27T10:11:12Z'
                FullName:
                  type: string
                  description: Maximum length 127
                  example: Amalesh Debnath
                ContactTitle:
                  type: string
                  description: Maximum length 127
                  example: LifeData Admin
                Phone:
                  type: string
                  description: Maximum length 30
                  example: +880-1612625374
                ContactEmail:
                  type: string
                  description: Maximum length 320
                  example: amalesh.debnath@lifedatacorp.com
                ContactAddress:
                  type: string
                  example: '1800 N Wabash Rd, Marion, IN 46952'
                TimeOffSet:
                  type: string
                  description: Time offset format +/-HH:MM
                  example: +06:00
                ParticipantEnrollmentType:
                  enum:
                    - 1
                    - 2
                  type: integer
                  description: "&nbsp;&nbsp;1 = Input Participants into a Study Participant List<br>\n&nbsp;&nbsp;2 = Allow Participants to enroll through App and be automatically add to List\n"
                  example: 2
                StudyDistributionMode:
                  enum:
                    - 1
                    - 2
                    - 3
                  type: integer
                  description: "&nbsp;&nbsp;1 = Searchable from within the app<br>\n&nbsp;&nbsp;2 = Downloadable by QR code<br>\n&nbsp;&nbsp;3 = Both\n"
                  example: 1
            example:
              RequireAccessCodeFlag: '0'
              SecretCode: TestCode
              AvailabilityStartDT: '2024-06-27T10:11:12.0000000+00:00'
              AvailabilityEndDT: '2024-06-27T10:11:12.0000000+00:00'
              FullName: Amalesh Debnath
              ContactTitle: LifeData Admin
              Phone: +880-1612625374
              ContactEmail: amalesh.debnath@lifedatacorp.com
              ContactAddress: '1800 N Wabash Rd, Marion, IN 46952'
              TimeOffSet: +06:00
              ParticipantEnrollmentType: 2
              StudyDistributionMode: 1
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/publish-detail':
    get:
      tags:
        - Study
      summary: Publish History
      description: This will return publish study detail
      operationId: get-studies-studyid-publish-detail-publishmodeflag-publishmodeflag
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: PublishModeFlag
          in: query
          required: true
          schema:
            enum:
              - 0
              - 1
            type: integer
            description: '1 = Distribute to Participants, 0 = Test'
            example: 1
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    Version:
                      type: integer
                      description: Study published version
                      example: 1
                    AllocatedParticipantCount:
                      type: integer
                      description: Total number of allocated participant
                      example: 100
                    PublishedDT:
                      type: string
                      description: When the study was published
                      example: '2024-06-27T10:11:12Z'
                    UserEmail:
                      type: string
                      description: Researcher email id
                      example: amalesh.debnath@gmail.com
                    TotalParticipant:
                      type: integer
                      description: Total number of participant who downloaded the study
                      example: 50
                    DeepLink:
                      type: string
                      description: Study deep link for common uses
                      example: https://kbmql.test-app.link/iohy44IL
                    QRFilePath:
                      type: string
                      description: Image file name of the QR code of Study deep link for common uses
                      example: qr_code_1_190_1_5.png
                    DictionaryDataFileName:
                      type: string
                      description: File name of the Dictionary Data
                      example: dictionary_data_840_2.pdf
                    ViewableVersion:
                      type: string
                      description: This value can be like Test 0.2 or Live 1.0
                      example: Test 1.4
              example:
                - Version: 1
                  AllocatedParticipantCount: 100
                  PublishedDT: '2024-06-27T10:11:12.0000000+00:00'
                  UserEmail: amalesh.debnath@gmail.com
                  TotalParticipant: 50
                  DeepLink: https://kbmql.test-app.link/iohy44IL
                  QRFilePath: qr_code_1_190_1_5.png
                  DictionaryDataFileName: dictionary_data_840_2.pdf
                  ViewableVersion: Test 1.4
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/unpublish':
    put:
      tags:
        - Study
      summary: Unpublished the Study with StudyID
      description: This will unpublished the study identified by the provided StudyID
      operationId: put-studies-studyid-unpublish-studyversion-studyversion
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  Unpublish:
                    enum:
                      - '1'
                      - '0'
                    type: boolean
                    example: '1'
              example:
                Unpublish: '1'
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/complete':
    put:
      tags:
        - Study
      summary: Mark a study as complete
      description: This will mark a study as complete
      operationId: put-studies-studyid-complete-studyversion-studyversion
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/all-score':
    get:
      tags:
        - Study
      summary: Get All Score of Study identified by StudyID
      description: This will return all the Score that belongs to the Study identified by StudyID
      operationId: get-studies-studyid-all-score-studyversion-studyversion
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    SessionID:
                      type: integer
                      example: 1
                    BlockID:
                      type: integer
                      example: 1
                    ScoreID:
                      type: integer
                      example: 1
                    ScoreTitle:
                      type: string
                      example: Test Score
                    ScoreType:
                      enum:
                        - 1
                        - 2
                        - 3
                      type: integer
                      description: '1 = Average, 2 = Sum, 3 = Custom'
                      example: 1
                    CalcScoreAllQueAnsweredFlag:
                      enum:
                        - '0'
                        - '1'
                      type: boolean
                      description: '1 = Need to answer all question, 0 = Don''t need to answer all question'
                    MinCunQueAnswered:
                      type: integer
                      description: Minimum number of questions that must be answered
                      example: 1
                    MissScoreCalcFlag:
                      enum:
                        - '0'
                        - '1'
                      type: boolean
                      description: '1 = Mean Substitution, 0 = Exclude missing questions'
                    ApplyToAllFlag:
                      enum:
                        - '0'
                        - '1'
                      type: boolean
                      description: '1 = Select All, 0 = Custom Selection'
                      example: '0'
              example:
                - SessionID: 1
                  BlockID: 1
                  ScoreID: 1
                  ScoreTitle: Test Score
                  ScoreType: 1
                  CalcScoreAllQueAnsweredFlag: '0'
                  MinCunQueAnswered: 1
                  MissScoreCalcFlag: '0'
                  ApplyToAllFlag: '0'
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/participant-alerts/{ParticipantID}/resolve/{ParticipantAlertID}':
    put:
      tags:
        - Participant Alert
      summary: Resolve alert for a particular participant
      description: This will resolve a particular alert
      operationId: put-studies-studyid-participant-alerts-participantid-resolve-participantaler
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: ParticipantID
          in: path
          required: true
          schema:
            type: integer
        - name: ParticipantAlertID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/participant-alerts/{ParticipantID}/resolve':
    put:
      tags:
        - Participant Alert
      summary: Resolve all alerts for a particular participant
      description: This resolve all alerts for a particular participant
      operationId: put-studies-studyid-participant-alerts-participantid-resolve-studyversion-st
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: ParticipantID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/participant-alerts/{ParticipantID}':
    get:
      tags:
        - Participant Alert
      summary: Get all alerts for a particular participant for a StudyID
      description: This all alerts for a particular participant for a StudyID
      operationId: get-studies-studyid-participant-alerts-participantid-studyversion-studyversi
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: ParticipantID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    AlertDT:
                      type: string
                      example: '2024-05-27T00:00:00Z'
                    AlertValue:
                      type: string
                      example: '5'
                    EmailID:
                      type: string
                      example: amalesh.debnath@gmail.com
                    Identifier:
                      type: integer
                      example: DEV Lead
                    Status:
                      type: integer
                      description: '1 = Active, 0 = Deleted, 2 = Withdrawn, 3 = completed'
                      example: 1
                    CompletedDT:
                      type: string
                      example: '2024-06-10T15:13:18Z'
                    WithdrawnDT:
                      type: string
                      example: '2024-06-27T00:00:00Z'
                    DeleteDT:
                      type: string
                      example: '2024-07-27T00:00:00Z'
              example:
                - AlertDT: '2024-05-27T00:00:00.0000000+00:00'
                  AlertValue: '5'
                  EmailID: amalesh.debnath@gmail.com
                  Identifier: DEV Lead
                  Status: 1
                  CompletedDT: '2024-06-10T15:13:18.0000000+00:00'
                  WithdrawnDT: '2024-06-27T00:00:00.0000000+00:00'
                  DeleteDT: '2024-07-27T00:00:00.0000000+00:00'
        '400':
          description: Bad Request. Check API Spec for correct request Parameters.
        '401':
          description: Authorization Token is missing or invalid
        '500':
          description: Internal Server Error
  '/studies/{StudyID}/alerts/{StudyAlertID}/logic':
    get:
      tags:
        - Logic(StudyAlert)
      summary: Get Display Logic for a study alert of a Study
      description: This will return all the Display Logic that belongs to a study alert of a Study
      operationId: get-studies-studyid-alerts-studyalertid-logic-studyversion-studyversion
      parameters:
        - name: StudyID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyAlertID
          in: path
          required: true
          schema:
            type: integer
        - name: StudyVersion
          in: query
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - type: array
                      items:
                        type: object
                        properties:
                          StudyAlertID:
                            type: integer
                            example: 1
                          LogicID:
                            type: integer
                            example: 1
                          LogicType:
                            type: integer
                            description: '1 = Always, 2 = Based on Condition'
                            example: 1
                          LogicFlag:
                            type: boolean
                            description: '0 = AND, 1 = OR'
                            example: '1'
                    - type: array
                      items:
                        type: object
                        properties:
                          LogicID:
                            type: integer
                            example: 1
                          LogicConditionID:
                            type: integer
                            example: 1
                          LogicFlag:
                            type: boolean
                            description: '0 = AND, 1 = OR'
                            example: '1'
                    - type: array
                      items:
                        type: object
                        properties:
                          LogicID:
                            type: integer
                            example: 1
                          LogicConditionID:
                            type: integer
                            example: 1
                          LogicStatementID:
                            type: integer
                            example: 1
                    - type: array
                      items:
                        type: object
                        properties:
                          LogicStatementID:
                            type: integer
                            example: 1
                          ConditionOn:
                            enum:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                            type: integer
                            example: 1 | &nbsp;&nbsp;1 = Question<br> &nbsp;&nbsp;2 = Score<br> &nbsp;&nbsp;3 = Session<br> &nbsp;&nbsp;4 = Probability<br> &nbsp;&nbsp;5 = NIS Response Rate<br> &nbsp;&nbsp;6 = Check-In Session Count
                          StatementLogic:
                            enum:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                            type: integer
                            description: "&nbsp;&nbsp;1 = Is completed / Responded (applies to all Question types)<br>\n&nbsp;&nbsp;2 = Is equal to (Also applies to text entry)<br>\n&nbsp;&nbsp;3 = Is not equal to (Also applies to text entry)<br>\n&nbsp;&nbsp;4 = Is greater than<br>\n&nbsp;&nbsp;5 = Is less than<br>\n&nbsp;&nbsp;6 = Is greater than or equal to<br>\n&nbsp;&nbsp;7 = Is less than or equal to<br>\n&nbsp;&nbsp;8 = Is Complete<br>\n"
                            example: 1
                          StatementValue:
                            type: string
                            example: '4'
                          ResponseSelection:
                            enum:
                              - 0
                              - 1
                              - 2
                              - 3
                            type: integer
                            description: "&nbsp;&nbsp;0 = Last<br>\n&nbsp;&nbsp;2 = Average Specific Response<br>\n&nbsp;&nbsp;3 = Average All<br>\n"
                            example: 0
                          NumberOfSessionInstance:
                            type: integer
                            example: 3
                    - type: array
                      items:
                        type: object
                        properties:
                          QuestionID:
                            type: integer
                            example: 1
                          LogicStatementID:
                            type: integer
                            example: 1
                    - type: array
                      items:
                        type: object
                        properties:
                          ScoreID:
                            type: integer
                            example: 1
                          LogicStatementID:
                            type: integer
                            example: 1
                    - type: array
                      items:
                        type: object
                        properties:
                          SessionID:
[...]
